/* index.css */
#wrap main {
    margin:0 auto;
    position:relative;
    padding:0 100px;
    max-width:1920px;
}
#wrap main #hero_bnr_slide_wrap {
    width:1920px; height:1080px;
    overflow:hidden;
    margin:0 auto 120px;
}
#wrap main #hero_bnr_slide_wrap .slide_container {}
#wrap main #hero_bnr_slide_wrap .slide_container .slide {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background {
    position:absolute; left:0; top:0;
    width:1920px; height:1080px; display:block;
    background-image:url(../images/hero_bnr1.jpg);
    background-position:center bottom;
    background-size:cover;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text {
    position:absolute; left:50%; top:80%; transform:translateX(-50%);
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text .brand {
    font-size:0.80rem;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text > p {}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text h1 {
    font-size:2rem;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text p {
    font-size:0.90rem;
}
#wrap main #hero_bnr_slide_wrap .prev {}
#wrap main #hero_bnr_slide_wrap .next {}
#wrap main #hero_bnr_slide_wrap .pagination {}
#wrap main #hero_bnr_slide_wrap .pagination .active {}
#wrap main #hero_bnr_slide_wrap .pagination span {}
#wrap main .steady_seller {
    display:flex; flex-flow:column nowrap;
    align-content:flex-end; justify-content:center;
    margin-bottom:160px;
}
#wrap main .steady_seller .title {}
#wrap main .steady_seller .title .text {}
#wrap main .steady_seller .title .text h1 {}
#wrap main .steady_seller .title .text p {}
#wrap main .steady_seller .title .right_control_btn {}
#wrap main .steady_seller .title .right_control_btn a {}
#wrap main .steady_seller .title .right_control_btn .prev {}
#wrap main .steady_seller .title .right_control_btn .next {}
#wrap main .steady_seller .contents {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
    overflow:hidden; width:100%;
    font-size:0.8125rem;
    line-height:1.5; gap:8px;
}
#wrap main .steady_seller .contents .product {
    background-color: aqua;
}
#wrap main .steady_seller .contents .product .thumnail {
    position:relative; width:424px;
    margin-bottom:16px;
}
#wrap main .steady_seller .contents .product .thumnail a {}
#wrap main .steady_seller .contents .product .thumnail a img {
    width:100%; position:relative;
}
#wrap main .steady_seller .contents .product .thumnail .like {
    width:24px;
    position:absolute; right:3%; top:3%;
}
#wrap main .steady_seller .contents .product .thumnail:hover a {
    display:block;
    box-shadow:0, 2, 5px rgba(0,0,0,0.5);
}
#wrap main .steady_seller .contents .product .thumnail .like img {
    width:100%;
}
#wrap main .steady_seller .contents .product .thumnail .cart {
    width:95%; height:40px;
    background-color:#fff; border-radius:2px;
    position:absolute; left:2.5%; bottom:2.5%;
    color:#555; font-size:1.2rem; text-align:center;
    display:none;
}
#wrap main .steady_seller .contents .product .thumnail .cart img {}
#wrap main .steady_seller .contents .product .product_info {
    align-content:space-between;
}
#wrap main .steady_seller .contents .product .product_info .brand {
    margin-bottom:8px; font-size:0.88rem; 
    color:#3a3a3a; font-weight:600;
}
#wrap main .steady_seller .contents .product .product_info h2 {
    font-size:0.88rem; 
    color:#6a6a6a; margin-bottom:16px;
}
#wrap main .steady_seller .contents .product .product_info h2 img {}
#wrap main .steady_seller .contents .product .product_info .price {color:#3a3a3a;}
#wrap main .steady_seller .contents .brand {}
#wrap main .steady_seller .contents .brand h2 {}
#wrap main .steady_seller .contents .brand h2 a {}
#wrap main .steady_seller .contents .brand .price {}
#wrap main .steady_seller .contents .brand .price del {}
#wrap main .gift_shop {}
#wrap main .gift_shop .title {
    margin-bottom:40px;
}
#wrap main .gift_shop .title h1 {font-size:1.6rem; margin-bottom:8px;}
#wrap main .gift_shop .title > p {font-size:0.9375rem}
#wrap main .gift_shop .product {
    display:flex; flex-flow:row nowrap; gap:8px;
}
#wrap main .gift_shop .product .main_product {
    background-image:url(../images/gift_set_1.jpg);
    background-position:center;
    background-size:cover;
    width:856px; height:856px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    position:relative;
}
#wrap main .gift_shop .product .main_product .text_contents {
    background-color: bisque;
    position:absolute; left:0; bottom:0;
}
#wrap main .gift_shop .product .main_product .text_contents h2 {}
#wrap main .gift_shop .product .main_product .text_contents p {}
#wrap main .gift_shop .product .main_product .text_contents p .more {}
#wrap main .gift_shop .product .main_product .text_contents p img {}
#wrap main .gift_shop .product .gift_set {
    width:856px; height:856px;
    background-color: lightgray;
    overflow:hidden;
}
#wrap main .gift_shop .product .gift_set > .contents {
    display:flex; flex-flow:row nowrap; gap:8px;
    justify-content:space-between; align-items:center;
}
#wrap main .gift_shop .product .gift_set .contents .product {
    display:flex; flex-flow:column nowrap;
    justify-content:space-between;
}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail {}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail > a {}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail a img {}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail .like {}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail .like img {}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail .cart {}
#wrap main .gift_shop .product .gift_set .contents .product .thumnail .cart img {}
#wrap main .gift_shop .product .gift_set .contents .product .contents {}
#wrap main .gift_shop .product .gift_set .contents .product .contents .brand {}
#wrap main .gift_shop .product .gift_set .contents .product .contents h2 {}
#wrap main .gift_shop .product .gift_set .contents .product .contents h2 a {}
#wrap main .gift_shop .product .gift_set .contents .product .contents p {}
#wrap main .gift_shop .product .gift_set .contents .product .contents p em {}
#wrap main .gift_shop .product .gift_set .contents .product .contents p del {}
#wrap main .gift_shop .product .gift_set .prev {}
#wrap main .gift_shop .product .gift_set .prev img {}
#wrap main .gift_shop .product .gift_set .next {}
#wrap main .gift_shop .product .gift_set .next img {}
#wrap main .gift_shop .product .gift_set .page {}
#wrap main .gift_shop .product .gift_set .page .current {}
#wrap main .gift_shop .product .gift_set .page .all {}
#wrap main .new_item {}
#wrap main .new_item .title {}
#wrap main .new_item .title .text {}
#wrap main .new_item .title .text h1 {}
#wrap main .new_item .title .text p {}
#wrap main .new_item .title .right_control_btn {}
#wrap main .new_item .title .right_control_btn .prev {}
#wrap main .new_item .title .right_control_btn .prev img {}
#wrap main .new_item .title .right_control_btn .next {}
#wrap main .new_item .title .right_control_btn .next img {}
#wrap main .new_item > .contents {}
#wrap main .new_item .contents .product {}
#wrap main .new_item .contents .product .thumnail {}
#wrap main .new_item .contents .product .thumnail > a {}
#wrap main .new_item .contents .product .thumnail a img {}
#wrap main .new_item .contents .product .thumnail .cart {}
#wrap main .new_item .contents .product .thumnail .cart img {}
#wrap main .new_item .contents .product .contents {}
#wrap main .new_item .contents .product .contents > p {}
#wrap main .new_item .contents .product .contents h2 {}
#wrap main .new_item .contents .product .contents h2 a {}
#wrap main .new_item .contents .product .contents .price {}
#wrap main .event_bnr {}
#wrap main .event_bnr .slide_container {}
#wrap main .event_bnr .slide_container .slide {}
#wrap main .event_bnr .slide_container .slide .membership {}
#wrap main .event_bnr .slide_container .slide .membership h1 {}
#wrap main .event_bnr .slide_container .slide .membership p {}
#wrap main .event_bnr .slide_container .slide .online_only h1 {}
#wrap main .event_bnr .slide_container .slide .online_only p {}
#wrap main .event_bnr .prev {}
#wrap main .event_bnr .prev img {}
#wrap main .event_bnr .next {}
#wrap main .event_bnr .next img {}
#wrap main .brand {}
#wrap main .brand .title {}
#wrap main .brand .title h1 {}
#wrap main .brand .title p {}
#wrap main .brand .contents {}
#wrap main .brand .contents .product {}
#wrap main .brand .contents .product .text_contents {}
#wrap main .brand .contents .product .text_contents h2 {}
#wrap main .brand .contents .product .text_contents > p {}
#wrap main .brand .contents .product .text_contents .more {}
#wrap main .brand .contents .product .text_contents .more img {}