/* index.css */
#wrap main {
    margin:0 auto;
    position:relative;
    /* padding:0 100px; */
    width:100%;
}
#wrap main #hero_bnr_slide_wrap {
    overflow:hidden;
    margin:0 auto 120px;
    position:relative;
}
#wrap main #hero_bnr_slide_wrap .slide_container {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide {
    display:block; background-color: aquamarine;
    /*  background-image:url(../images/hero_bnr1.jpg); */
    text-align:center;
    width:100%; height:1080px; 
    background-position:center bottom;
    background-size:cover;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background {}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text {
    position:absolute; left:50%; top:80%; transform:translateX(-50%);
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text .brand {
    font-size:0.80rem;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text > p {}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text h1 {
    font-size:2rem;
}
#wrap main #hero_bnr_slide_wrap .slide_container .slide .slide_background .text p {
    font-size:0.90rem;
}
#wrap main #hero_bnr_slide_wrap .prev {
    position:absolute; left:100px; top:50%; transform:translateY(-50%);
}
#wrap main #hero_bnr_slide_wrap .next {
    position:absolute; right:100px; top:50%; transform:translateY(-50%);
}
#wrap main #hero_bnr_slide_wrap .pagination {}
#wrap main #hero_bnr_slide_wrap .pagination .active {}
#wrap main #hero_bnr_slide_wrap .pagination span {}
#wrap main .steady_seller {
    display:flex; flex-flow:column nowrap;
    align-content:flex-end; justify-content:center;
    margin-bottom:160px;
}
#wrap main .steady_seller .title {}
#wrap main .steady_seller .title .text {}
#wrap main .steady_seller .title .text h1 {}
#wrap main .steady_seller .title .text p {}
#wrap main .steady_seller .title .right_control_btn {}
#wrap main .steady_seller .title .right_control_btn a {}
#wrap main .steady_seller .title .right_control_btn .prev {}
#wrap main .steady_seller .title .right_control_btn .next {}
#wrap main .steady_seller .contents {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
    overflow:hidden; width:100%;
    font-size:0.8125rem;
    line-height:1.5; gap:8px;
}
#wrap main .steady_seller .contents .product {
    background-color: aqua;
}
#wrap main .steady_seller .contents .product .thumnail {
    position:relative; width:424px;
    margin-bottom:16px;
}
#wrap main .steady_seller .contents .product .thumnail a {}
#wrap main .steady_seller .contents .product .thumnail a img {
    width:100%; position:relative;
}
#wrap main .steady_seller .contents .product .thumnail .like {
    width:24px;
    position:absolute; right:3%; top:3%;
}
#wrap main .steady_seller .contents .product .thumnail:hover a {
    display:block;
    box-shadow:0, 2, 5px rgba(0,0,0,0.5);
}
#wrap main .steady_seller .contents .product .thumnail .like img {
    width:100%;
}
#wrap main .steady_seller .contents .product .thumnail .cart {
    width:95%; height:40px;
    background-color:#fff; border-radius:2px;
    position:absolute; left:2.5%; bottom:2.5%;
    color:#555; font-size:1.2rem; text-align:center;
    display:none;
}
#wrap main .steady_seller .contents .product .thumnail .cart img {}
#wrap main .steady_seller .contents .product .product_info {
    align-content:space-between;
}
#wrap main .steady_seller .contents .product .product_info .brand {
    margin-bottom:8px; font-size:0.88rem; 
    color:#3a3a3a; font-weight:600;
}
#wrap main .steady_seller .contents .product .product_info h2 {
    font-size:0.88rem; 
    color:#6a6a6a; margin-bottom:16px;
}
#wrap main .steady_seller .contents .product .product_info h2 img {}
#wrap main .steady_seller .contents .product .product_info .price {color:#3a3a3a;}
#wrap main .steady_seller .contents .brand {}
#wrap main .steady_seller .contents .brand h2 {}
#wrap main .steady_seller .contents .brand h2 a {}
#wrap main .steady_seller .contents .brand .price {}
#wrap main .steady_seller .contents .brand .price del {}
#wrap main .gift_shop {}
#wrap main .gift_shop .title {
    margin-bottom:40px;
}
#wrap main .gift_shop .title h1 {font-size:1.6rem; margin-bottom:8px;}
#wrap main .gift_shop .title > p {font-size:0.9375rem}
#wrap main .gift_shop .product {
    display:flex; flex-flow:row nowrap; gap:8px;
}
#wrap main .gift_shop .product .main_product {
    background-image:url(../images/gift_set_1.jpg);
    background-position:center;
    background-size:cover;
    width:856px; height:856px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    position:relative;
}
#wrap main .gift_shop .product .main_product::after {
    content:''; display:block; width:100%; height:70%;
    position:absolute; left:0; bottom:0; z-index:30;
    background:linear-gradient(360deg, #000, transparent);
    opacity: 0.5;
}
#wrap main .gift_shop .product .main_product .text_contents {
    /* background-color: bisque; */
    position:absolute; left:40px; bottom:40px; z-index:50;
}
#wrap main .gift_shop .product .main_product .text_contents h2 {
    font-size:2rem; color:#fff;
    margin:0 0 16px;
}
#wrap main .gift_shop .product .main_product .text_contents p {
    color:#fff; margin:0 0 32px;
    line-height:1.5;
}
#wrap main .gift_shop .product .main_product .text_contents .more {
    background-color:#fff; opacity:0.8;
    padding:10px 12px 10px 16px; color:#3a3a3a;
    margin:0;
}
#wrap main .gift_shop .product .main_product .text_contents .more img {}
#wrap main .gift_shop .product .gift_set {
    width:856px; height:856px;
    background-color:#f8f8f8;
    overflow:hidden; position:relative;
}
#wrap main .gift_shop .product .gift_set .gift_contents {
    display:flex; flex-flow:row nowrap; gap:8px;
    justify-content:space-between; align-items:center;
    position:absolute; left:-25%; top:50%; transform:translateY(-50%);
    width:100%; height:100%;
    background-color: brown; overflow:hidden;
}
#wrap main .gift_shop .product .gift_set .gift_contents .product {
    display:flex; flex-flow:column nowrap;
    justify-content:space-between; align-content:center;
}
#wrap main .gift_shop .product .gift_set .gift_contents .product_info .product .thumnail {
    position:relative; width:calc(100% / 3);
    margin-bottom:16px;
}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail > a {}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail a img {
    width:100%;
}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail .like {
    width:24px;
    position:absolute; right:3%; top:3%;
}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail:hover a {
    /* display:block;
    box-shadow:0, 2, 5px rgba(0,0,0,0.5); */
}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail .like img {width:100%;}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail .cart {
    width:95%; height:40px;
    background-color:#fff; border-radius:2px;
    position:absolute; left:2.5%; bottom:2.5%;
    color:#555; font-size:1.2rem; text-align:center;
    display:none;
}
#wrap main .gift_shop .product .gift_set .gift_contents .product .thumnail .cart img {width:100%;}
#wrap main .gift_shop .product .gift_set .gift_contents .product .product_info {
    text-align:center;
}
#wrap main .gift_shop .product .gift_set .contents .product .product_info .brand {}
#wrap main .gift_shop .product .gift_set .contents .product .product_info h2 {}
#wrap main .gift_shop .product .gift_set .contents .product .product_info h2 a {}
#wrap main .gift_shop .product .gift_set .contents .product .product_info p {}
#wrap main .gift_shop .product .gift_set .contents .product .product_info p em {}
#wrap main .gift_shop .product .gift_set .contents .product .product_info p del {}
#wrap main .gift_shop .product .gift_set .prev {}
#wrap main .gift_shop .product .gift_set .prev img {}
#wrap main .gift_shop .product .gift_set .next {}
#wrap main .gift_shop .product .gift_set .next img {}
#wrap main .gift_shop .product .gift_set .page {}
#wrap main .gift_shop .product .gift_set .page .current {}
#wrap main .gift_shop .product .gift_set .page .all {}
#wrap main .new_item {}
#wrap main .new_item .title {}
#wrap main .new_item .title .text {}
#wrap main .new_item .title .text h1 {}
#wrap main .new_item .title .text p {}
#wrap main .new_item .title .right_control_btn {}
#wrap main .new_item .title .right_control_btn .prev {}
#wrap main .new_item .title .right_control_btn .prev img {}
#wrap main .new_item .title .right_control_btn .next {}
#wrap main .new_item .title .right_control_btn .next img {}
#wrap main .new_item > .contents {}
#wrap main .new_item .contents .product {}
#wrap main .new_item .contents .product .thumnail {}
#wrap main .new_item .contents .product .thumnail > a {}
#wrap main .new_item .contents .product .thumnail a img {}
#wrap main .new_item .contents .product .thumnail .cart {}
#wrap main .new_item .contents .product .thumnail .cart img {}
#wrap main .new_item .contents .product .contents {}
#wrap main .new_item .contents .product .contents > p {}
#wrap main .new_item .contents .product .contents h2 {}
#wrap main .new_item .contents .product .contents h2 a {}
#wrap main .new_item .contents .product .contents .price {}
#wrap main .event_bnr {
    background-color:#f8f8f8;
    padding:40px 0; position:relative;
}
#wrap main .event_bnr .slide_container {
    display:flex; flex-flow:row nowrap;
    overflow:hidden;
}
#wrap main .event_bnr .slide_container .slide {margin:0 auto; display:block;}
#wrap main .event_bnr .slide_container .slide .membership {
    background-color: aquamarine; text-align:center;
}
#wrap main .event_bnr .slide_container .slide .membership h1,
#wrap main .event_bnr .slide_container .slide .online_only h1 {font-size:1.25rem;}
#wrap main .event_bnr .slide_container .slide .membership h1 {}
#wrap main .event_bnr .slide_container .slide .membership p,
#wrap main .event_bnr .slide_container .slide .online_only p {font-size:0.94rem;}
#wrap main .event_bnr .slide_container .slide .membership p {}
#wrap main .event_bnr .slide_container .slide .online_only h1 {}
#wrap main .event_bnr .slide_container .slide .online_only p {}
#wrap main .event_bnr .prev {
    float:left;
    position:absolute; left:100px; top:50%; transform:translateY(-50%);
}
#wrap main .event_bnr .prev img {width:100%;}
#wrap main .event_bnr .next {
    float:right;
    position:absolute; right:100px; top:50%; transform:translateY(-50%);
}
#wrap main .event_bnr .next img {width:100%;}
#wrap main .brand {}
#wrap main .brand .title {}
#wrap main .brand .title h1 {font-size:1.6rem; margin-bottom:8px;}
#wrap main .brand .title p {font-size:0.9375rem; margin-bottom:40px;}
#wrap main .brand .product {
    display:grid; grid-template-columns:1fr 1fr;
    grid-template-areas:
    'agabang baby'
    'like secret'
    ;
}
#wrap main .brand .product .main_product {}
#wrap main .brand .product .main_product:nth-child(1) {
    background-image:url(../images/brand_img1.jpg);
    grid-area:agabang;
}
#wrap main .brand .product .main_product:nth-child(2) {
    background-image:url(../images/brand_img2.jpg);
    grid-area:baby;
}
#wrap main .brand .product .main_product:nth-child(3) {
    background-image:url(../images/brand_img3.jpg);
    grid-area:like;
}
#wrap main .brand .product .main_product:nth-child(4) {
    background-image:url(../images/brand_img4.jpg);
    grid-area:secret;
}
#wrap main .brand .product .main_product .text_contents {}
#wrap main .brand .product .main_product .text_contents h2 {}
#wrap main .brand .product .main_product .text_contents > p {}
#wrap main .brand .product .main_product .text_contents .more {}
#wrap main .brand .product .main_product .text_contents .more img {}